QOMobile/xml-resources/web-service-references/producto/wsdl/localhost_9128/producto.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="ControladorProductoPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://localhost:9128/producto?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarProductosIndividuales"></message>
<message name="listarProductosIndividualesResponse">
<part name="return" type="tns:dataIndividualArray"></part>
</message>
<message name="listarProductosPromocion"></message>
<message name="listarProductosPromocionResponse">
<part name="return" type="tns:dataPromocionArray"></part>
</message>
<message name="cargarDatosProducto2">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="cargarDatosProducto2Response"></message>
<message name="CargarDatosModificarProducto2">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:int"></part>
<part name="arg5" type="xsd:boolean"></part>
</message>
<message name="CargarDatosModificarProducto2Response"></message>
<message name="limpiarMemoria"></message>
<message name="limpiarMemoriaResponse"></message>
<message name="seleccionarRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarRestauranteResponse"></message>
<message name="cargarDatosProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:float"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="cargarDatosProductoResponse"></message>
<message name="altaProducto"></message>
<message name="altaProductoResponse"></message>
<message name="seleccionarProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="seleccionarProductoResponse"></message>
<message name="listarProductos"></message>
<message name="listarProductosResponse">
<part name="return" type="tns:dataProductoArray"></part>
</message>
<message name="existeProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="existeProductoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="CargarDatosModificarProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:float"></part>
</message>
<message name="CargarDatosModificarProductoResponse"></message>
<message name="ModificarProducto"></message>
<message name="ModificarProductoResponse"></message>
<message name="obtenerDatosRestauranteNombre">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="obtenerDatosRestauranteNombreResponse">
<part name="return" type="tns:dataProducto"></part>
</message>
<portType name="ControladorProductoPublicador">
<operation name="listarProductosIndividuales">
<input wsam:Action="http://servidor/ControladorProductoPublicador/listarProductosIndividualesRequest" message="tns:listarProductosIndividuales"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/listarProductosIndividualesResponse" message="tns:listarProductosIndividualesResponse"></output>
</operation>
<operation name="listarProductosPromocion">
<input wsam:Action="http://servidor/ControladorProductoPublicador/listarProductosPromocionRequest" message="tns:listarProductosPromocion"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/listarProductosPromocionResponse" message="tns:listarProductosPromocionResponse"></output>
</operation>
<operation name="cargarDatosProducto2" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://servidor/ControladorProductoPublicador/cargarDatosProducto2Request" message="tns:cargarDatosProducto2"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/cargarDatosProducto2Response" message="tns:cargarDatosProducto2Response"></output>
</operation>
<operation name="CargarDatosModificarProducto2" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://servidor/ControladorProductoPublicador/CargarDatosModificarProducto2Request" message="tns:CargarDatosModificarProducto2"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/CargarDatosModificarProducto2Response" message="tns:CargarDatosModificarProducto2Response"></output>
</operation>
<operation name="limpiarMemoria">
<input wsam:Action="http://servidor/ControladorProductoPublicador/limpiarMemoriaRequest" message="tns:limpiarMemoria"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/limpiarMemoriaResponse" message="tns:limpiarMemoriaResponse"></output>
</operation>
<operation name="seleccionarRestaurante">
<input wsam:Action="http://servidor/ControladorProductoPublicador/seleccionarRestauranteRequest" message="tns:seleccionarRestaurante"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/seleccionarRestauranteResponse" message="tns:seleccionarRestauranteResponse"></output>
</operation>
<operation name="cargarDatosProducto" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://servidor/ControladorProductoPublicador/cargarDatosProductoRequest" message="tns:cargarDatosProducto"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/cargarDatosProductoResponse" message="tns:cargarDatosProductoResponse"></output>
</operation>
<operation name="altaProducto">
<input wsam:Action="http://servidor/ControladorProductoPublicador/altaProductoRequest" message="tns:altaProducto"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/altaProductoResponse" message="tns:altaProductoResponse"></output>
</operation>
<operation name="seleccionarProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/ControladorProductoPublicador/seleccionarProductoRequest" message="tns:seleccionarProducto"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/seleccionarProductoResponse" message="tns:seleccionarProductoResponse"></output>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://servidor/ControladorProductoPublicador/listarProductosRequest" message="tns:listarProductos"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/listarProductosResponse" message="tns:listarProductosResponse"></output>
</operation>
<operation name="existeProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/ControladorProductoPublicador/existeProductoRequest" message="tns:existeProducto"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/existeProductoResponse" message="tns:existeProductoResponse"></output>
</operation>
<operation name="CargarDatosModificarProducto" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://servidor/ControladorProductoPublicador/CargarDatosModificarProductoRequest" message="tns:CargarDatosModificarProducto"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/CargarDatosModificarProductoResponse" message="tns:CargarDatosModificarProductoResponse"></output>
</operation>
<operation name="ModificarProducto">
<input wsam:Action="http://servidor/ControladorProductoPublicador/ModificarProductoRequest" message="tns:ModificarProducto"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/ModificarProductoResponse" message="tns:ModificarProductoResponse"></output>
</operation>
<operation name="obtenerDatosRestauranteNombre" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/ControladorProductoPublicador/obtenerDatosRestauranteNombreRequest" message="tns:obtenerDatosRestauranteNombre"></input>
<output wsam:Action="http://servidor/ControladorProductoPublicador/obtenerDatosRestauranteNombreResponse" message="tns:obtenerDatosRestauranteNombreResponse"></output>
</operation>
</portType>
<binding name="ControladorProductoPublicadorPortBinding" type="tns:ControladorProductoPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarProductosIndividuales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarProductosPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="cargarDatosProducto2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="CargarDatosModificarProducto2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="limpiarMemoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seleccionarRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="cargarDatosProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="altaProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seleccionarProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="existeProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="CargarDatosModificarProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="ModificarProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="obtenerDatosRestauranteNombre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="ControladorProductoPublicadorService">
<port name="ControladorProductoPublicadorPort" binding="tns:ControladorProductoPublicadorPortBinding">
<soap:address location="http://localhost:9128/producto"></soap:address>
</port>
</service>
</definitions>