QOMobile/src/META-INF/wsdl/localhost_9128/categoria.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="ControladorCategoriaPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://localhost:9128/categoria?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="altaCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="altaCategoriaResponse"></message>
<message name="listarCategorias"></message>
<message name="listarCategoriasResponse">
<part name="return" type="tns:dataCategoriaArray"></part>
</message>
<message name="existeCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeCategoriaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarRestaurantes">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarRestaurantesResponse">
<part name="return" type="tns:dataRestauranteArray"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<portType name="ControladorCategoriaPublicador">
<operation name="altaCategoria">
<input wsam:Action="http://servidor/ControladorCategoriaPublicador/altaCategoriaRequest" message="tns:altaCategoria"></input>
<output wsam:Action="http://servidor/ControladorCategoriaPublicador/altaCategoriaResponse" message="tns:altaCategoriaResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://servidor/ControladorCategoriaPublicador/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://servidor/ControladorCategoriaPublicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="existeCategoria">
<input wsam:Action="http://servidor/ControladorCategoriaPublicador/existeCategoriaRequest" message="tns:existeCategoria"></input>
<output wsam:Action="http://servidor/ControladorCategoriaPublicador/existeCategoriaResponse" message="tns:existeCategoriaResponse"></output>
</operation>
<operation name="listarRestaurantes">
<input wsam:Action="http://servidor/ControladorCategoriaPublicador/listarRestaurantesRequest" message="tns:listarRestaurantes"></input>
<output wsam:Action="http://servidor/ControladorCategoriaPublicador/listarRestaurantesResponse" message="tns:listarRestaurantesResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorCategoriaPublicador/listarRestaurantes/Fault/Exception"></fault>
</operation>
</portType>
<binding name="ControladorCategoriaPublicadorPortBinding" type="tns:ControladorCategoriaPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="altaCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="existeCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarRestaurantes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ControladorCategoriaPublicadorService">
<port name="ControladorCategoriaPublicadorPort" binding="tns:ControladorCategoriaPublicadorPortBinding">
<soap:address location="http://localhost:9128/categoria"></soap:address>
</port>
</service>
</definitions>