QOMobile/src/META-INF/wsdl/localhost_9128/pedido.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="ControladorPedidoPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://localhost:9128/pedido?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarPedidos2">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPedidos2Response">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="agregarComentario">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:float"></part>
</message>
<message name="agregarComentarioResponse"></message>
<message name="cancelarPedido"></message>
<message name="cancelarPedidoResponse"></message>
<message name="seleccionarRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarRestauranteResponse"></message>
<message name="seleccionarProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="seleccionarProductoResponse"></message>
<message name="seleccionarCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarClienteResponse"></message>
<message name="finalizarPedido"></message>
<message name="finalizarPedidoResponse">
<part name="return" type="tns:dataPedido"></part>
</message>
<message name="limpiarMermoria"></message>
<message name="limpiarMermoriaResponse"></message>
<message name="seleccionarPedido">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="seleccionarPedidoResponse"></message>
<message name="seleccionarEstado">
<part name="arg0" type="tns:enumEstado"></part>
</message>
<message name="seleccionarEstadoResponse"></message>
<message name="actualizarPedido"></message>
<message name="actualizarPedidoResponse"></message>
<message name="listarPedidos"></message>
<message name="listarPedidosResponse">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<portType name="ControladorPedidoPublicador">
<operation name="listarPedidos2">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/listarPedidos2Request" message="tns:listarPedidos2"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/listarPedidos2Response" message="tns:listarPedidos2Response"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorPedidoPublicador/listarPedidos2/Fault/Exception"></fault>
</operation>
<operation name="agregarComentario" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/agregarComentarioRequest" message="tns:agregarComentario"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/agregarComentarioResponse" message="tns:agregarComentarioResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorPedidoPublicador/agregarComentario/Fault/Exception"></fault>
</operation>
<operation name="cancelarPedido">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/cancelarPedidoRequest" message="tns:cancelarPedido"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/cancelarPedidoResponse" message="tns:cancelarPedidoResponse"></output>
</operation>
<operation name="seleccionarRestaurante">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarRestauranteRequest" message="tns:seleccionarRestaurante"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarRestauranteResponse" message="tns:seleccionarRestauranteResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarRestaurante/Fault/Exception"></fault>
</operation>
<operation name="seleccionarProducto" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarProductoRequest" message="tns:seleccionarProducto"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarProductoResponse" message="tns:seleccionarProductoResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarProducto/Fault/Exception"></fault>
</operation>
<operation name="seleccionarCliente">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarClienteRequest" message="tns:seleccionarCliente"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarClienteResponse" message="tns:seleccionarClienteResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarCliente/Fault/Exception"></fault>
</operation>
<operation name="finalizarPedido">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/finalizarPedidoRequest" message="tns:finalizarPedido"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/finalizarPedidoResponse" message="tns:finalizarPedidoResponse"></output>
</operation>
<operation name="limpiarMermoria">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/limpiarMermoriaRequest" message="tns:limpiarMermoria"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/limpiarMermoriaResponse" message="tns:limpiarMermoriaResponse"></output>
</operation>
<operation name="seleccionarPedido">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarPedidoRequest" message="tns:seleccionarPedido"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarPedidoResponse" message="tns:seleccionarPedidoResponse"></output>
</operation>
<operation name="seleccionarEstado">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarEstadoRequest" message="tns:seleccionarEstado"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/seleccionarEstadoResponse" message="tns:seleccionarEstadoResponse"></output>
</operation>
<operation name="actualizarPedido">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/actualizarPedidoRequest" message="tns:actualizarPedido"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/actualizarPedidoResponse" message="tns:actualizarPedidoResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorPedidoPublicador/actualizarPedido/Fault/Exception"></fault>
</operation>
<operation name="listarPedidos">
<input wsam:Action="http://servidor/ControladorPedidoPublicador/listarPedidosRequest" message="tns:listarPedidos"></input>
<output wsam:Action="http://servidor/ControladorPedidoPublicador/listarPedidosResponse" message="tns:listarPedidosResponse"></output>
</operation>
</portType>
<binding name="ControladorPedidoPublicadorPortBinding" type="tns:ControladorPedidoPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarPedidos2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="agregarComentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cancelarPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seleccionarRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="seleccionarProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="seleccionarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="finalizarPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="limpiarMermoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seleccionarPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seleccionarEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="actualizarPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarPedidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="ControladorPedidoPublicadorService">
<port name="ControladorPedidoPublicadorPort" binding="tns:ControladorPedidoPublicadorPortBinding">
<soap:address location="http://localhost:9128/pedido"></soap:address>
</port>
</service>
</definitions>