QOMobile/xml-resources/web-service-references/usuario/wsdl/localhost_9128/usuario.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="ControladorUsuarioPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://localhost:9128/usuario?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:9128/usuario?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="listarUsuarios"></message>
<message name="listarUsuariosResponse">
<part name="return" type="tns:dataUsuarioArray"></part>
</message>
<message name="CargarDatosUsuario2">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="tns:dataDireccion"></part>
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg5" type="ns1:stringArray"></part>
</message>
<message name="CargarDatosUsuario2Response"></message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="existeUsuario2">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="existeUsuario2Response">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="obtenerUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerUsuarioResponse">
<part name="return" type="tns:dataUsuario"></part>
</message>
<message name="listarRestaurantes2">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarRestaurantes2Response">
<part name="return" type="tns:dataRestauranteArray"></part>
</message>
<message name="CargarDatosUsuario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="tns:dataDireccion"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:dateTime"></part>
<part name="arg7" type="xsd:string"></part>
</message>
<message name="CargarDatosUsuarioResponse"></message>
<message name="altaUsuario"></message>
<message name="altaUsuarioResponse"></message>
<message name="seleccionarCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarCategoriaResponse"></message>
<message name="limpiarMemoria"></message>
<message name="limpiarMemoriaResponse"></message>
<message name="listarProductos">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarProductosResponse">
<part name="return" type="tns:dataProductoArray"></part>
</message>
<message name="listarClientes"></message>
<message name="listarClientesResponse">
<part name="return" type="tns:dataClienteArray"></part>
</message>
<message name="listarPedidosCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPedidosClienteResponse">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<message name="existeUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarCategorias">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarCategoriasResponse">
<part name="return" type="tns:dataCategoriaArray"></part>
</message>
<message name="listarRestaurantes"></message>
<message name="listarRestaurantesResponse">
<part name="return" type="tns:dataRestauranteArray"></part>
</message>
<portType name="ControladorUsuarioPublicador">
<operation name="listarUsuarios">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/listarUsuariosRequest" message="tns:listarUsuarios"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/listarUsuariosResponse" message="tns:listarUsuariosResponse"></output>
</operation>
<operation name="CargarDatosUsuario2" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/CargarDatosUsuario2Request" message="tns:CargarDatosUsuario2"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/CargarDatosUsuario2Response" message="tns:CargarDatosUsuario2Response"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorUsuarioPublicador/CargarDatosUsuario2/Fault/Exception"></fault>
</operation>
<operation name="existeUsuario2" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/existeUsuario2Request" message="tns:existeUsuario2"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/existeUsuario2Response" message="tns:existeUsuario2Response"></output>
</operation>
<operation name="obtenerUsuario">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/obtenerUsuarioRequest" message="tns:obtenerUsuario"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorUsuarioPublicador/obtenerUsuario/Fault/Exception"></fault>
</operation>
<operation name="listarRestaurantes2">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/listarRestaurantes2Request" message="tns:listarRestaurantes2"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/listarRestaurantes2Response" message="tns:listarRestaurantes2Response"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorUsuarioPublicador/listarRestaurantes2/Fault/Exception"></fault>
</operation>
<operation name="CargarDatosUsuario" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/CargarDatosUsuarioRequest" message="tns:CargarDatosUsuario"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/CargarDatosUsuarioResponse" message="tns:CargarDatosUsuarioResponse"></output>
</operation>
<operation name="altaUsuario">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/altaUsuarioRequest" message="tns:altaUsuario"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/altaUsuarioResponse" message="tns:altaUsuarioResponse"></output>
</operation>
<operation name="seleccionarCategoria">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/seleccionarCategoriaRequest" message="tns:seleccionarCategoria"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/seleccionarCategoriaResponse" message="tns:seleccionarCategoriaResponse"></output>
</operation>
<operation name="limpiarMemoria">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/limpiarMemoriaRequest" message="tns:limpiarMemoria"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/limpiarMemoriaResponse" message="tns:limpiarMemoriaResponse"></output>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/listarProductosRequest" message="tns:listarProductos"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/listarProductosResponse" message="tns:listarProductosResponse"></output>
</operation>
<operation name="listarClientes">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="listarPedidosCliente">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/listarPedidosClienteRequest" message="tns:listarPedidosCliente"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/listarPedidosClienteResponse" message="tns:listarPedidosClienteResponse"></output>
</operation>
<operation name="existeUsuario">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/existeUsuarioRequest" message="tns:existeUsuario"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/existeUsuarioResponse" message="tns:existeUsuarioResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servidor/ControladorUsuarioPublicador/listarCategorias/Fault/Exception"></fault>
</operation>
<operation name="listarRestaurantes">
<input wsam:Action="http://servidor/ControladorUsuarioPublicador/listarRestaurantesRequest" message="tns:listarRestaurantes"></input>
<output wsam:Action="http://servidor/ControladorUsuarioPublicador/listarRestaurantesResponse" message="tns:listarRestaurantesResponse"></output>
</operation>
</portType>
<binding name="ControladorUsuarioPublicadorPortBinding" type="tns:ControladorUsuarioPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="CargarDatosUsuario2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="existeUsuario2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="obtenerUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarRestaurantes2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="CargarDatosUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="altaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seleccionarCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="limpiarMemoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarPedidosCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="existeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarRestaurantes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="ControladorUsuarioPublicadorService">
<port name="ControladorUsuarioPublicadorPort" binding="tns:ControladorUsuarioPublicadorPortBinding">
<soap:address location="http://localhost:9128/usuario"></soap:address>
</port>
</service>
</definitions>